* {
  font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  text-transform: capitalize;
}
body {
  margin: 0;

  text-transform: capitalize;
  padding: 0;
  box-sizing: border-box;

  text-transform: capitalize;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  height: 100vh;
  font-size: 16px;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.header {
  padding-bottom: 31px;
  background: rgb(0, 0, 0);
  background-repeat: no-repeat;
  display: flex;

  align-items: center;
  flex-direction: column;
  background-position: center;
}
.nav {
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(241, 241, 241, 0.214);
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin-right: 5px;
}
.nav li {
  transition: 0.4s ease;
}
.nav li:hover {
  transform: scale(1.08);
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
  text-align: center;
  font-weight: 500;
  transition: 0.4s ease;
  color: white;
}
.nav a:hover {
  color: rgba(241, 241, 241, 0.656);
  transform: scale(1.08);
}
.logo {
  transition: 0.4s ease;
  margin-left: 5px;
}
.logo:hover {
  transform: scale(1.08);
}

.welcome {
  display: flex;
  height: 300px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome h1 {
  font-size: 5.5em;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  text-shadow: 1px 5px 10px #ff7800;
  cursor: default;
}

.welcome h3 {
  font-size: 1.9rem;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  margin-top: -70px;
  text-align: center;
  cursor: default;
}
.p {
  max-width: 700px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: -40px;
  color: white;
  font-size: 17px;
  font-weight: 590;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 20px;
  transition: 0.4s ease;
  border-radius: 30px;
}
.p:hover {
  outline: 1px solid #bb5700;

  box-shadow: 0px 10px 15px #bb5700;
  transform: scale(1.04);
  cursor: default;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  width: max-content;

  margin-left: auto;
  margin-right: auto;
  background: transparent;
}
.btn button {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  padding: 7px;
  width: 120px;
  height: 42px;
  border: none;
  background: rgba(241, 241, 241, 0.214);
  transition: 0.4s ease;
}
.btn a {
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
}
.btn button:hover {
  box-shadow: 0px 4px 10px rgb(255, 255, 255);
  outline: 1px solid rgb(255, 255, 255);
}
.nav2 {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(1, 1, 1, 0.214);
}

.nav2 ul {
  display: flex;
  list-style-type: none;
  margin-right: 5px;
}
.nav2 li {
  transition: 0.4s ease;
}
.nav2 li:hover {
  transform: scale(1.08);
}

.nav2 a {
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
  font-weight: 600;
  transition: 0.4s ease;
  color: rgb(0, 0, 0);
  text-align: center;
}
.nav2 a:hover {
  color: #bb5700;
  transform: scale(1.08);
}
.logo2 {
  transition: 0.4s ease;
  margin-left: 5px;
}
.logo2:hover {
  transform: scale(1.08);
}
.main {
  background: rgb(255, 249, 239);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  max-height: 500px;

  margin-top: 70px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.content {
  position: absolute;
  left: 100px;
  margin-bottom: 120px;

  max-height: 500px;
  width: 50%;
  text-align: start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

.abt {
  background-color: black;
  width: 140px;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 700px;
  transition: 0.3s ease;
  outline: 2px solid white;
}
.abt a {
  text-decoration: none;
  color: white;
}

.abt:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px #000000;
}
.logos {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 90px;
}
.logos a {
  font-size: 27px;
  color: rgb(0, 0, 0);
  padding: 5px;
}
.logos a:first-child {
  color: #249ef0;
}

.logos a:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #405de6,
    /* Royal Blue */ #5851db,
    /* Purple */ #833ab4,
    /* Dark Purple */ #c13584,
    /* Dark Pink */ #e1306c,
    /* Red-Pink */ #fd1d1d /* Red */
  );
  border-radius: 8px;
  text-align: center;
  width: 12px;
  height: 12px;
  text-decoration: none;
}
.logos a:nth-child(3) {
  color: #1d77e0;
}

.details {
  margin-top: 80px;
}
.details h1 {
  font-size: 4em;
  font-weight: 900;

  text-align: start;
  line-height: 40px;
}
#webdev {
  color: #ff7800;
}

.img img {
  position: absolute;
  width: 20%;
  height: 90%;
  right: 200px;
  bottom: 1px;
  margin-bottom: 50px;
  transition: 0.5s ease;
  filter: drop-shadow(0px 5px 5px #b35400);
}
.img img:hover {
  filter: drop-shadow(0px 5px 5px #000000);

  transform-origin: bottom left;
  transform: rotate(-15deg);
}
:root {
  --section-padding: 80px 10%;
}

section {
  padding: var(--section-padding);
}
@media screen and (max-width: 500px) {
  .nav,
  .nav2 {
    display: none;
  }
 
  .welcome {
    font-size: 0.6em;
    
  }
  .welcome h1{
    margin-bottom: 60px;
  }
  .welcome h3{
    font-size: 24px;
  }
  .p {
    display: flex;
    justify-content: center;
    max-width: 80%;
    align-items: center;
    
  }
  .p p{
    font-size: 13px;
    line-height: 20px;
  }
  .main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
  }
  .details{
    margin-top: -60px;
  }
  .main h1 {
    font-size: 1.3em;
    text-align: center;
    width: 100%;
  }
  .abt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }
  .abt a {
    text-align: center;
  }
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .img img {
    width: 30%;
    height: 40%;
    left: auto;
    right: auto;
    
  }
}
